{% extends 'airsite/index.html' %}
{% load static %}
{% block title %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
  <title>DjangoAir - Reset Password Confirm</title>
{% endblock title %}
{% block content %}
    <div id="login-card" class="card">
      <div class="card-body">
        <h2 class="text-center">Password reset confirm/h2>
        <p>Enter your new password</p>
        <br>
        <form method="POST">
            {% csrf_token %}
          <fieldset class="form-group">
              {{ form|crispy }}
          </fieldset>
          <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
          <br>

        </form>
      </div>
    <div>
{% endblock content %}

