{% extends 'airsite/index.html' %}
{% load static %}
{% block title %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
    <title>DjangoAir - Reset Password</title>
{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
     <div id="login-card" class="card">
        <div class="card-body">
          <h2 class="text-center">Reset your password</h2>
          <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new <one class=""></one></p>
          <br>
          <form method="POST">
              {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button type="submit" id="button" class="btn btn-primary deep-purple btn-block ">Submit</button>
            <br>

          </form>
        </div>
    <div>
{% endbock content %}